@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

:root {
  --dark-grey: #272d2d;
  --dark-bluish-grey: #726da8;
  --white: #fcfff7;
  --transparent-white: rgba(252, 255, 247, 0.1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;

  color: var(--dark-grey);

  font-size: 1rem;

  font-family: "Quicksand", sans-serif;
}

.container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 6fr;
}

nav {
  height: 100%;

  padding: 1rem 0;

  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: var(--white);
  background-color: var(--dark-grey);
}

#logo {
  font-size: 3rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;

  /* text-decoration: underline; */

  border-bottom: 5px solid var(--white);

  font-weight: 700;
}

#logo::selection {
  color: var(--dark-grey);
  background-color: var(--white);
}

li {
  width: 100%;

  display: flex;
  flex: 1;
  align-items: center;
  list-style-type: none;

  margin: 1rem 0;

  padding-left: 1.4rem;
}

.list-wrapper {
  border: none;
  height: auto;
  width: 100%;

  margin: 1rem 0;

  display: flex;
  align-items: center;

  filter: brightness(47%);

  transition: all ease-in 90ms;
}

.list-wrapper:hover {
  filter: brightness(92%);
  border-left: 4px solid white;
  background-color: var(--transparent-white);

  cursor: pointer;

  font-weight: 600;
}

.content {
  background-color: var(--white);
}

.content h1 {
  margin: 1rem 2rem;

  font-size: 2rem;
}

.graph {
  padding: 2rem;
}

img {
  width: 50%;

  border: 2px solid var(--dark-grey);
  border-radius: 1rem;
}

.active {
  filter: brightness(92%);
  border-left: 4px solid white;
  background-color: var(--transparent-white);

  font-weight: 600;
}
